<h1>Start a new round</h1>
<p class="lead">Select players for this round below:</p>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Include</th>
      <th>Name</th>
      <th>Email</th>
      <th>IRC nick</th>
      <th>Admin</th>
      <th>K/D ratio</th>
      <th>Wins</th>
      <th>Auto-enroll</th>
    </tr>
  </thead>
  <tbody>
    <%= form_tag '/rounds/start' do %>
    <% @players.each do |player| %>
      <% if player.auto_enroll %>
        <% checked = true %>
      <% else %>
        <% if player.enroll_in_next %>
          <% checked = true %>
        <% else %>
          <% checked = false %>
        <% end %>
      <% end %>
      <tr>
        <td><%= check_box_tag 'player_ids[]', player.id, checked %></td>
        <td><%= player.name %></td>
        <td><%= player.email %></td>
        <td><%= player.irc_nick %></td>
        <td>
            <% if player.admin %>
              <span class="glyphicon glyphicon-ok"></span>
            <% else %>
              <span class="glyphicon glyphicon-remove"></span>
            <% end %>
        </td>
        <td><%= kd_ratio(player) %></td>
        <td><%= player.wins %></td>
        <td>
            <% if player.auto_enroll %>
              <span class="glyphicon glyphicon-ok"></span>
            <% else %>
              <span class="glyphicon glyphicon-remove"></span>
            <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="row">
  <div class="col-sm-6">
    <%= label_tag :start_time, "Date and time to start round", :class => "control-label" %>
    <%= text_field_tag :start_time, (Time.now + 5.minutes).strftime('%m/%d/%Y %H:%M'), :id => "round_start_datetime", :class => "form-control" %> 
    <span class="help-block">Default: 5 minutes from when this page was loaded.</span>
    <%= label_tag :end_time, "Date and time to end round", :class => "control-label" %>
    <%= text_field_tag :end_time, (Time.now + 2.week ).strftime('%m/%d/%Y %H:%M') , :id => "round_end_datetime", :class => "form-control" %>
    <span class="help-block">Default: 2 weeks from when this page was loaded.</span>
    <div id="round_start_datetime">
    </div> 
  </div>
  <div class="col-sm-6">
    <%= label_tag :kill9, "Enable Kill -9 ", :class => "control-label" %>
    <%= check_box_tag :kill9, true, :id => "kill9", :class => "form-control" %> 
    <div class="well">
      <%= label_tag :kill9_start_time, "Date and time to begin Kill -9", :class => "control-label" %>
      <%= text_field_tag :kill9_start_time, (Time.now + 1.week ).strftime('%m/%d/%Y %H:%M') , :id => "kill9_start_time", :class => "form-control" %>
      <span class="help-block">Default: 1 week from when this page was loaded.</span>
    </div>
    <div id="round_start_datetime">
    </div> 
  </div>
</div>
<br>
<%= submit_tag 'Start Round', :class => "btn btn-default"%>
<% end %>
