<h1>Start a new round</h1>
<p class="lead">Select players for this round below:</p>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Include</th>
      <th>Name</th>
      <th>Email</th>
      <th>IRC nick</th>
      <th>Admin</th>
      <th>K/D ratio</th>
      <th>Wins</th>
      <th>Auto-enroll</th>
    </tr>
  </thead>
  <tbody>
    <%= form_tag '/rounds/start' %>
    <% @players.each do |player| %>
      <% if player.auto_enroll %>
        <% checked = true %>
      <% else %>
        <% if player.enroll_in_next %>
          <% checked = true %>
        <% else %>
          <% checked = false %>
        <% end %>
      <% end %>
      <tr>
        <td><%= check_box_tag 'player_ids[]', player.id, checked %></td>
        <td><%= player.name %></td>
        <td><%= player.email %></td>
        <td><%= player.irc_nick %></td>
        <td>
            <% if player.admin %>
              <span class="glyphicon glyphicon-ok"></span>
            <% else %>
              <span class="glyphicon glyphicon-remove"></span>
            <% end %>
        </td>
        <td><%= kd_ratio(player) %></td>
        <td><%= player.wins %></td>
        <td>
            <% if player.auto_enroll %>
              <span class="glyphicon glyphicon-ok"></span>
            <% else %>
              <span class="glyphicon glyphicon-remove"></span>
            <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= submit_tag 'Start Round', :class => "btn btn-default"%>

