<% @kills.each do |kill| %>
	<% assassin = Player.find(kill.player_id) %>
	<% deceased = Player.find(kill.deceased_id) %>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Assassin <%= assassin.nickname %> has killed <%= deceased.nickname %>...</h3>
		</div>
		<div class="panel-body">
			<%= image_tag assassin.photo.url, :class => "float-left col-md-1"%>
			<p><%= kill.recap %></p>
		</div>
		<div class="panel-footing">	
			<span class="text-muted"><%= parse_date kill.created_at %></span>
		</div>
	</div>
<% end %>

