<h1><%= CONFIG[:project_name] %> Handbook</h1>
<p class="lead">
  The <%= CONFIG[:project_name] %> Handbook contains important rules and conduct that all players should follow.
</p>
<br>
<div class="well">
<p>
<h4>Summary</h4>
<%= CONFIG[:project_name] %> Handbook.<br><br>
</p>
<p>
<h4>Download</h4>
<ul><li><%= link_to "#{CONFIG[:project_name]} Handbook", 'assests/handbook.odp' %>
</ul>
</p>
<div class="well well-small">
<h4 align="center" style="color: @FF0000;">If you break the rules, you will be removed from the game</h4>
</div>
</div>
<% if not admin? %>
  <div class="fixed-bottom span2 offset12">
    <p><%= link_to 'Login', new_session_path, :class => "hidden-link" %></p>
  </div>
<% end %>

