<%= form_tag "/administration/news/create" do %>
  <div class="row"><div class="col-sm-4">
  <%= label_tag :title, "Title", :class => "control-label" %>
    <%= text_field_tag :title, "", :class => "form-control" %>
  </div></div><br>
  <div class="row"><div class="col-sm-12">
  <%= label_tag :body, "Body", :class => "control-label" %><br>
    <%= text_area_tag :body, "", :rows => "20", :class => "form-control" %><br>
  <div class="col-sm-offset-8 text-muted">Rendered with markdown | <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet">Markdown Help</a></div>
  </div></div><br>
  <%= label_tag :public, "Public", :class => "control-label" %>
    <%= check_box_tag :public, "true", false, :class => "form-control" %><br>
  <%= submit_tag 'Create news post', :class => "btn btn-default" %>
<% end %>
