<%= form_for @player do |f| %>
  <% if @player.errors.any? %>
  <div id="errorExplanation" class="well well-small">
    <h2><%= pluralize(@player.errors.count, "error") %> prohibited this player from being saved:</h2>
    <ul>
    <% @player.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  <%= f.label "Full Player Name" %>
    <%= f.text_field :name, :class => "span3" %>
  <%= f.label "Red Hat Email" %>
    <%= f.text_field :email, :class => "span3" %>
  <%= f.label "Red Hat IRC Nick" %>
    <%= f.text_field :irc_nick, :class => "span2" %>
  <%= f.label "Photo" %>
    <%= f.file_field :photo %>
  <%= f.label "Notes" %>
    <%= f.text_area :notes, :class => "span10" %>
  <br><br>
  <%#-= f.submit 'Register', :disabled => "true", :class => "btn btn-custom disabled" %>
  <%= f.submit 'Register', :class => "btn btn-custom" %>
<% end %>
