<%= form_for @player, :html => {:role => "form" } do |f| %>
  <% if @player.errors.any? %>
  <div id="errorExplanation" class="well well-small" style="border-color: #FF0000">
    <h4><%= pluralize(@player.errors.count, "error") %> prohibited your player from being created:</h4>
    <ul>
    <font color="#FF0000">
    <% @player.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </font>
    </ul>
  </div>
  <% end %>
  <div class="row">
    <div class="col-md-8">
      <div class="form-group">
        <%= f.label "Full Player Name", :class => "control-label" %>
          <%= f.text_field :name, :class => "form-control", :placeholder => "Jim Whitehurst" %>
      </div>
      <div class="form-group">
        <%= f.label "Red Hat Email", :class => " control-label" %>
          <%= f.text_field :email, :class => "form-control", :placeholder => "jwhitehurst@redhat.com" %>
      </div>
      <% if request.url.split("/").last == "new" %>
        <div class="form-group">
          <%= f.label "Password", :class => " control-label" %>
            <%= f.password_field 'password', :class => "form-control", :placeholder => "*************" %>
        </div>
        <div class="form-group">
          <%= f.label "Confirm Password", :class => " control-label" %>
            <%= f.password_field 'password_confirmation', :class => "form-control", :placeholder => "*************" %>
        </div>
      <% end %>
      <div class="form-group">
        <%= f.label "Red Hat IRC Nickname", :class => " control-label" %>
          <%= f.text_field :irc_nick, :class => "form-control", :placeholder => "jwhitehurst" %>
      </div>
      <div class="form-group">
        <%= f.label "Photo", :class => " control-label" %>
          <%= f.file_field :photo %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="well well-small">
        <h4 class="text-center">All fields required except notes</h4>
        <p class="lead">
          <ul>
            <li>Full Player name must be within 3-30 characters
            <li>Email must be valid
            <li>Password must be within 5-30 characters
            <li><font color="#FF0000"><em>Do not use your Red Hat Account password.</em></font>
            <li>Photo must be present
            <ul>
              <li>This will make your card look much better
            </ul>
          </ul>
        </p>
      </div>
    </div>
  </div>
    <div class="form-group">
      <%= f.label "Notes (optional)", :class => " control-label" %>
        <%= f.text_area :notes, :class => "form-control", :rows => "5", :placeholder => "These notes will show up on your card that is given to the other players. Write something fun (no profanities)!" %>
    </div>
  <%= f.submit 'Register', :class => "btn btn-custom" %>
<% end %>
