<%= form_for @player do |f| %>
  <% if @player.errors.any? %>
  <div id="errorExplanation" class="well well-small" style="border-color: #FF0000">
    <h4><%= pluralize(@player.errors.count, "error") %> prohibited your player from being created:</h4>
    <ul>
    <font color="#FF0000">
    <% @player.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </font>
    </ul>
  </div>
  <% end %>
  <div class="row">
    <div class="span6">
      <%= f.label "Full Player Name" %>
        <%= f.text_field :name, :class => "span3", :placeholder => "Jim Whitehurst" %>
      <%= f.label "Red Hat Email" %>
        <%= f.text_field :email, :class => "span3", :placeholder => "jwhitehurst@redhat.com" %>
      <% if request.url.split("/").last == "new" %>
        <%= f.label "Password" %>
          <%= f.password_field 'password', :class => "span3", :placeholder => "*************" %>
        <%= f.label "Confirm Password" %>
          <%= f.password_field 'password_confirmation', :class => "span3", :placeholder => "*************" %>
      <% end %>
      <%= f.label "Red Hat IRC Nickname" %>
        <%= f.text_field :irc_nick, :class => "span2", :placeholder => "jwhitehurst" %>
      <%= f.label "Photo" %>
        <%= f.file_field :photo %>
      </div>
    <div class="span4">
      <div class="well well-small">
        <h4 class="text-center">All fields required except notes</h4>
        <p class="lead">
          <ul>
            <li>Full Player name must be within 3-30 characters
            <li>Email must be valid
            <li>Password must be within 5-30 characters
            <li><font color="#FF0000"><em>Do not use your Red Hat Account password.</em></font>
            <li>Photo must be present
            <ul>
              <li>This will make your card look much better
            </ul>
          </ul>
        </p>
      </div>
    </div>
  </div>
    <br>
  <%= f.label "Notes (optional)" %>
    <%= f.text_area :notes, :class => "span10", :rows => "5", :placeholder => "These notes will show up on your card that is given to the other players. Write something fun (no profanities)!" %>
  <br><br>
  <%#-= f.submit 'Register', :disabled => "true", :class => "btn btn-custom disabled" %>
  <%= f.submit 'Register', :class => "btn btn-custom" %>
<% end %>
