<h1>Change your password</h1>
<div class="well">
  <%= form_for @player do |f| %>
    <%= f.label 'Current Password' %>
      <%= f.password_field :current_password %>
    <%= f.label 'New Password' %>
      <%= f.password_field :password %>
    <%= f.label 'Confrim New Password' %>
      <%= f.password_field :password_confirmation %>
    <br><br>
    <%= f.submit 'Change Password', :method => 'update', :class => "btn btn-custom" %>
  <% end %>
  this is way broken. It will work if you send a blank password.. but then your password is blank. And thats fuckt u  this is way broken. It will work if you send a blank password.. but then your password is blank. And thats fuckt upp
</div>
