<!DOCTYPE html>
<html>
<head>
  <title>Red Hat <%= CONFIG[:project_name] %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>
<body>
  <div class="wrapper">

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </a>
        <a href="/welcome/index" class="brand">Assassination</a>
        <div class="nav-collapse collapse">
          <ul class="nav ">
            <li class="active"><a href="/welcome/index">Home</a></li>
            <% if admin? %>
              <li><a href="/administration/index">Administration</a>
            <% end %>
            <li><a href="/welcome/central">Central</a></li>
            <li><a href="/welcome/handbook">Handbook</a></li>
            <li><a href="/welcome/about">About</a></li>
          </ul>
          <% if not logged_in? %>    
            <ul class="nav pull-right">
              <li><a href="/players/new">Register</a></li>
            </ul>
            <ul class="nav pull-right">
              <form class="form-inline navbar-form" action="/players/login">
                <input type="text" name="player[email]" class="input-small" placeholder="Email">
                <input type="password" name="player[password]" class="input-small" placeholder="Password">
                <button type="submit" class="btn btn-small btn-custom">Login</button>
              </form>
            </ul>
          <% else %>
            <ul class="nav pull-right">
              <li><a href="/players/<%= session[:player].username  %>"><%= session[:player].email  %></a></li>
              <li><a href="/players/logout">Logout</a></li>
            </ul> 
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <% if flash[:success] || flash[:info] || flash[:error] %>
      <div class="row">
        <div class="span4">
          <% if flash[:success] %>
            <% alert_type = "success"; alert = flash[:success] %>
          <% elsif flash[:info] %>
            <% alert_type = "info"; alert = flash[:info] %>
          <% elsif flash[:error] %>
            <% alert_type = "error"; alert = flash[:error] %>
          <% end %>
            <div class="alert alert-<%= alert_type %>">
                <strong><%= alert %></strong>
            </div>
        </div>
      </div>
    <% end %>
    <%= yield %>
  </div>
<div class="push"></div>
</div>
<div class="footer">
<div class="text-bottom span2 offset10">
<p>
<a href="http://openshift.com"><img src="/assets/powered-by-openshift.png"></a>
</p>
</div>
</div>
</body>

</html>
