<!DOCTYPE html>
<html>
<head>
  <title>Red Hat <%= CONFIG[:project_name] %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <!-- Nav-bar -->
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="/welcome/index" class="navbar-brand"><%= CONFIG[:project_name]%></a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a href="/welcome/index">Home</a></li>
          <% if admin? %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Administration <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/administration/index">Admin Index</a></li>
                <li><a href="/administration/players">Players</a></li>
                <li><a href="/administration/assignments">Assignments</a></li>
              </ul>
            </li>
          <% end %>
          <li><a href="/welcome/central">Central</a></li>
          <li><a href="/welcome/handbook">Handbook</a></li>
          <li><a href="/welcome/about">About</a></li>
        </ul>
        <% if not logged_in? %>    
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/players/new">Register</a></li>
          </ul>
          <form class="navbar-form navbar-right" action="/players/login">
            <div class="form-group">
              <input type="text" name="player[email]" class="form-control input-sm" placeholder="Email">
            </div>
            <div class="form-group">
              <input type="password" name="player[password]" class="form-control input-sm" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-sm btn-custom">Login</button>
          </form>
        <% else %>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/players/<%= session[:player].username  %>"><%= session[:player].email  %></a></li>
            <li><a href="/players/logout">Logout</a></li>
          </ul> 
        <% end %>
      </div>
    </div>
  </nav>

  <!-- Body Container -->
  <div class="container" style="padding-top: 55px">
    
    <!-- flash notices -->
    <% if flash[:success] || flash[:info] || flash[:error] %>
      <div class="row">
        <div class="col-md-4">
          <% if flash[:success] %>
            <% alert_type = "success"; alert = flash[:success] %>
          <% elsif flash[:info] %>
            <% alert_type = "info"; alert = flash[:info] %>
          <% elsif flash[:error] %>
            <% alert_type = "danger"; alert = flash[:error] %>
          <% end %>
          <div class="alert alert-<%= alert_type %> alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <strong><%= alert %></strong>
          </div>
        </div>
      </div>
    <% end %>

  <!-- Page Content -->
  <%= yield %>

  <!-- End Body Container -->
  </div>

</body>
</html>
